html { font-size: 16px}

/*changing background color of webapge to be a light blue shade*/
body {
  background-color: rgba(111, 69, 78, 0.8);
}

header {
  background: rgba(191, 167, 158, 0.9);
  padding: 0.5rem;
  position: fixed;
  top: 0.5rem;
}

/*styling h1 heading so that it looks white on a blue-ish background and is italic*/
h1 {
  color: rgb(231, 233, 186);
  font-size: 300%;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

/*styling h3 sub headings to be white-ish on a blue-ish background. Half the size of h1 headers and italic*/
h3 {
  color: rgb(231, 233, 186);
  font-size: 160%;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  margin-bottom: 0;
}

/*styles all paragraphs to be white-ish on blue-ish background to be consistent. Dashed border for cute look. Padding and margin used to give the element space*/
p {
  color: rgb(90, 30, 53);
  background: rgba(191, 167, 158, 0.9);
  font-size: 150%;
  font-family: 'Indie Flower', cursive;
  padding: 1rem;
  margin-top: 0;
}

/*links are made white for consistency*/
a {
  color: rgb(90, 30, 53);
  font-family: 'Indie Flower', cursive;
}

/*images are given a border and margins. Also rounded for a nice look*/
img {
  width: 25rem;
  margin: auto;
  display: block;
  float: left;
  margin: 1rem;
}

aside img {
  width: 15rem;
}

/*styling the footer*/
footer {
  font-family: 'Indie Flower', cursive;
  color: rgb(231, 233, 186);
  clear: both;
}

a:hover {
  background: azure;
}

img:hover {
  filter: grayscale(100%);
}

section {
  width: 40rem;
  float:left;
  margin-left: 2rem;
}

aside p {
  height: 45rem;
}
aside {
  float: left;;
  width: 20rem;
  margin-left: 2rem;
}
