html { font-size: 16px}

/*changing background color of webapge to be a light blue shade*/
body {
  /*background-color: rgba(111, 69, 78, 0.8);*/
  background-color: floralwhite;
  font-family: 'Indie Flower', cursive;
}

header {
  color: floralwhite;
  background-color: rgba(111, 69, 78, 0.8);
  padding: 0.5rem;
}

/*styling h1 heading so that it looks white on a blue-ish background and is italic*/
h1 {
  color: floralwhite;
  background-color:  rgba(111, 69, 78, 0.8);
  font-size: 350%;
  margin: 0;
  padding: 3rem 0 1rem 1rem;
}

/*styling h3 sub headings to be white-ish on a blue-ish background. Half the size of h1 headers and italic*/
h3 {
  color: floralwhite;
  background-color: rgba(111, 69, 78, 0.5);
  font-size: 160%;
  text-align: center;
  margin-bottom: 0;
  font-size: 200%;
}

h4 {
  background-color: rgba(111, 69, 78, 0.8);
  color: floralwhite;
  margin: 0 0 1rem 0;
  padding: 1rem 0 2rem 1.5rem;
  font-size: 120%;
}

/*styles all paragraphs to be white-ish on blue-ish background to be consistent. Dashed border for cute look. Padding and margin used to give the element space*/
p {
  color: rgb(155, 90, 90);
  border-bottom: 0.1rem dashed;
  border-left: 0.1rem dashed;
  border-right: 0.1rem dashed;
  font-size: 150%;
  padding: 1rem;
  margin-top: 0;
}

/*using nth-oftype to choose the second paragraph in a section so that the top border is dashed to be consistent with the rest of the paragraphs*/
p:nth-of-type(2) {
  border-top: 0.1rem dashed;
}

a {
  color: floralwhite;
  text-decoration: none;
  transition: all 1s linear;
}

p a {
  color: rgb(111, 69, 78);
  text-decoration: underline;
}

/*transition so that when the user hovers over an image, 
the image turns into an oval and black and grey*/
img {
  width: 25rem;
  display: block;
  float: left;
  margin: 1rem;
  transition: all 2s ease-in-out;
}

aside img {
  width: 16rem;
  padding-top: 2rem;
}

figcaption {
  clear: both;
}

/*styling the footer*/
footer {
  color: floralwhite;
  background-color: rgba(111, 69, 78, 0.8);
  clear: both;
}

a:hover {
  font-size: 150%;
}

img:hover {
  filter: grayscale(100%);
  border-radius: 50%;
}

section {
  width: 40rem;
  float:left;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

aside p {
  height: 77.8rem;
}

aside {
  float: left;;
  width: 20rem;
  margin-left: 2rem;
}

