/*changing background color of webapge to be a light blue shade*/
body {
  background-color: rgba(138, 210, 219, 0.85);
}

/*styling h1 heading so that it looks white on a blue-ish background and is italic*/
h1 {
  color: azure;
  font-size: 300%;
  font-family: "Palatino Linotype";  
  font-style: italic;
  text-align: center;
}

/*styling h3 sub headings to be white-ish on a blue-ish background. Half the size of h1 headers and italic*/
h3 {
  color: azure;
  font-size: 150%;
  font-style: italic;
  font-family: "Palatino Linotype";  
  text-align: center;
}

/*styles all paragraphs to be white-ish on blue-ish background to be consistent. Dashed border for cute look. Padding and margin used to give the element space*/
p {
  color: azure;
  font-size: 110%;
  font-style: italic;
  font-family: "Palatino Linotype";
  border: 2px dashed white;
  padding: 1em;
  margin: 1em;
}

/*links are made white for consistency*/
a {
  color: azure;
}

/*images are given a border and margins. Also rounded for a nice look*/
img {
  border-radius: 8px;
  border: 4px dashed azure;
  margin: auto;
  display: block;
  margin-top: 2em;
  margin-bottom: 1em;
}

