/*changing background color of webapge to be a light blue shade*/
body {
  background-color: rgba(111, 69, 78, 0.8);
}

/*styling h1 heading so that it looks white on a blue-ish background and is italic*/
h1 {
  color: rgb(231, 233, 186);
  font-size: 300%;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

/*styling h3 sub headings to be white-ish on a blue-ish background. Half the size of h1 headers and italic*/
h3 {
  color: rgb(231, 233, 186);
  font-size: 160%;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

/*styles all paragraphs to be white-ish on blue-ish background to be consistent. Dashed border for cute look. Padding and margin used to give the element space*/
p {
  color: rgb(90, 30, 53);
  background: rgba(191, 167, 158, 0.9);
  font-size: 150%;
  font-family: 'Indie Flower', cursive;
  padding: 1em;
  margin: 1em;
}

/*links are made white for consistency*/
a {
  color: rgb(90, 30, 53);
  font-family: 'Indie Flower', cursive;
}

/*images are given a border and margins. Also rounded for a nice look*/
img {
  width: 30rem;
  height: 25rem;
  border-radius: 8px;
  border: 4px dashed rgb(120, 69, 78);
  margin: auto;
  display: block;
  margin-top: 2em;
  margin-bottom: 1em;
}

/*captions made smaller and centered with images*/
figcaption {
  color: rgb(90, 30, 53);
  font-size: 110%;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  margin: auto;
}

/*styling unordered list elements to be white-ish and limited width so that words look fitted inside border*/
ul {
  color: rgb(213, 235, 232);
  font-family: 'Indie Flower', cursive;
  font-size: 110%;
  width: 30%;
  margin: auto;
}

/*styling the footer*/
footer {
  font-family: 'Indie Flower', cursive;
  color: rgb(231, 233, 186);
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-floats {
  clear: both;;
}

.bottom-line-break {
  clear: both;
  width: 40rem;
}


