html { font-size: 16px}

/*changing background color of webapge to be a light blue shade*/
body {
  background-color: rgba(111, 69, 78, 0.8);
  font-family: 'Indie Flower', cursive;
}

/*styling h1 heading so that it looks white on a blue-ish background and is italic*/
h1 {
  color: floralwhite;
  font-size: 350%;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

/*styling h3 sub headings to be white-ish on a blue-ish background. Half the size of h1 headers and italic*/
h3 {
  color: floralwhite;
  font-size: 160%;
  text-align: center;
}

/*styles all paragraphs to be white-ish on blue-ish background to be consistent. Dashed border for cute look. Padding and margin used to give the element space*/
p {
  color: rgb(155, 90, 90);
  background-color: rgb(217, 208, 193);
  font-size: 150%;
  margin: 1rem;
  padding: 1rem;
}

/*links are made white for consistency*/
a {
  color: floralwhite;
}

p a {
  color: rgb(155, 90, 90);
}

/*images are given a border and margins. Also rounded for a nice look*/
img {
  width: 30rem;
  height: 25rem;
  border-radius: 8px;
  margin: auto;
  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/*captions made smaller and centered with images*/
figcaption {
  position: relative;
  top: -27rem;
  color: papayawhip;
  font-size: 110%;
  text-align: center;
  margin: auto;
}

/*styling unordered list elements to be white-ish and limited width so that words look fitted inside border*/
div {
  color: rgb(213, 235, 232);
  font-size: 110%;
  width: 40%;
  margin: auto;
  position: relative;
  top: -105rem;
}

hr {
  position: relative;
  top: -105rem;
}

/*styling the footer*/
footer {
  color: rgb(90, 30, 53);
  background: rgba(191, 167, 158, 0.9);
  clear: both;
  position: fixed;
  bottom: 0.5rem;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-floats {
  clear: both;;
}

a:hover {
  background: floralwhite;
  color: rgb(155, 90, 90);
}

/*transitions for revealing the photo beneath*/

.bottom {
  position: relative;
  top: -27rem;
}

.top {
  transition: opacity 3s ease-in-out;
  position: relative;
  z-index: 999;
}

.top:hover {
  opacity: 0;
}

section:nth-of-type(3) {
  position: relative;
  top: -27rem;
  left: 1.5rem
}

section:nth-of-type(4) {
  position: relative;
  top: -27rem;
  left: 3rem;
}

section:nth-of-type(5) {
  position: relative;
  top: -54rem;
}

section:nth-of-type(6) {
  position: relative;
  top: -54rem;
}

section:nth-of-type(7) {
  position: relative;
  top: -81rem;
}
